.anime{
	margin-top:3.79733rem;
}
.anime .sub_link{
	width: 100%;
	box-sizing: border-box;
	overflow:hidden;
	background: #f9f9f9;
    border-bottom: .02133rem solid #ccc;
}
.anime .sub_link ul{
	width:100%;
	display: inline;
	white-space: nowrap;
	overflow-x:scroll;
	float:left;
	overflow-y:hidden;
	padding-left:.896rem;
	box-sizing: border-box;
}
.anime .sub_link ul li{
	margin-right: 0.8rem;
	display:inline-block;
	font-size: .45rem;
    line-height: 1.87733rem;
    text-align: center;
    color: #757575;
}
.anime .sub_link ul li a{
	color: #757575;
}
.anime .sub_link ul li .active{
    color: #fb7299;
}