.index{
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 1.87733rem;
    top: 1.856rem;
    z-index: 5;
    overflow: hidden;
}
.index ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-left: 0.824rem;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 1.87733rem;
    white-space: nowrap;
    padding-bottom: .21333rem;
    color: #757575;
}
.index ul li a{
    padding: .2rem 0;
    color: #757575;
    border-bottom: .08533rem solid #fff;
}
.index ul li .active{
    color: #fb7299;
    border-bottom: .08533rem solid #fb7299;
}
.main{
    margin-top:3.79733rem;
}